<section id="content" class="container mx-auto px-4 py-8 border-t">
    <h2
        class="text-3xl text-center mb-8 font-bold text-gray-800 leading-tight text-wrap:balance"
    >
        Nos mantenemos conectados
    </h2>
    <section
        class="flex flex-col md:flex-row flex-wrap gap-6 md:gap-10 justify-center items-center"
    >
        <!-- Reel 1 -->
        <div class="max-w-full overflow-hidden">
            <blockquote
                class="instagram-media"
                data-instgrm-permalink="https://www.instagram.com/reel/DGxv27SJ932/?utm_source=ig_embed&utm_campaign=loading"
                data-instgrm-version="14"
            >
            </blockquote>
        </div>

        <!-- Reel 2 -->
        <div class="max-w-full overflow-hidden">
            <blockquote
                class="instagram-media"
                data-instgrm-permalink="https://www.instagram.com/reel/DF716iSJXn2/?utm_source=ig_embed&utm_campaign=loading"
                data-instgrm-version="14"
            >
            </blockquote>
        </div>

        <!-- Reel 3 -->
        <div class="max-w-full overflow-hidden">
            <blockquote
                class="instagram-media"
                data-instgrm-permalink="https://www.instagram.com/reel/DGlOPPrppBg/?utm_source=ig_embed&utm_campaign=loading"
                data-instgrm-version="14"
            >
            </blockquote>
        </div>
    </section>
</section>

<script async defer src="https://www.instagram.com/embed.js"></script>
